/* Hoveddel */
body{ padding-bottom:250px; background:#666464; }

.flex-main{
    display: flex;
    min-height:200vh;
    min-width: 680px;
    background:#fff;
    z-index:-1;
    width: 72%;
    margin-top: 5px;
    margin-left: 232px;
    background: #d6e8dc;
}
.cont1 { margin-top: 5px; padding: 15px; }

#jumbotron {
    position: relative;
    width: 100vw;
    height: 200px;
}

/* Footer */
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:250px;
    background:#666464;
    color:#fff;
    z-index:-2;
}
.footer{
    margin-left: 232px;
}
/* Tabeller */
table {
    width: 100%;
    border-collapse: collapse;
    line-height: 15px;
}
tr{
    height: 30px;
}
table td:nth-child(even), th:nth-child(even){
    text-align: center;
}
table td:nth-child(odd), th:nth-child(odd){
    background: #d6e8dc;
    text-align: center;

}

.whole {
    background: white;
    padding: 10px;
    border-radius: 9px;
}