/* Hoveddel */
body{ margin-bottom:250px; background:#666464; }

.flex-main{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-between;
}
.cont1 {
    min-height:200vh;
    min-width: 680px;
    background:#fff;
    z-index:-1;
    width: 72%;
    margin-top: 5px;
    margin-left: 232px;
    background: #e4e4e4;
}
#jumbotron {
    position: relative;
    width: 100%;
    height: 200px;
}
.flex-main h2 {
    padding-left: 2em;
}
/* Footer */
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:250px;
    background:#666464;
    color:#fff;
    z-index:-2;
}
.border-line {
    background-color: #98ff98;
    width: calc(100% - 4em);
    height: 0.2em;
    margin: 1em 2em;
}
footer h3{
    color: #98ff98;
}
.footer{
    margin-left: 232px;
    width: 72%;
    text-align: center;
}
footer a{
    color: white;
    padding: 15px;
    margin: 15px;
}
a {
    text-decoration: none;
    color: #5f6f6a;
}
* a:hover{
    color: red;
}
.footer h4 {
    padding: 1.3em;
}
/* Tabeller */
table {
    width: 100%;
    border-collapse: collapse;
    line-height: 15px;
}
tr{
    height: 30px;
}
table tr:nth-child(even), th:nth-child(even){
    text-align: center;
}
table tr:nth-child(odd), th:nth-child(odd){
    background: #d6e8dc;
    text-align: center;

}

.whole {
    background: white;
    padding: 10px;
    border-radius: 9px;
}
td {width: 175px;}
td+td{width: auto;}
p {padding: 5px;}
dd {padding-left: 2em;}
.cont1 img { 
    width: calc(100% / 3 - 4px);
    margin: 2px;
    height: auto;
    border-radius: 5px;
}

.flex-main img {
    flex: 2;
    max-height: 50vh;
}
.flex-main p {
    flex: 1;
}